.modal {
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContainer {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dialogContainer {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.modalHeader,
.modalFooter {
  display: flex;
  justify-content: flex-end;
}

.logo:hover,
.logo:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  height: 20px;
}

.optionIcon {
  padding-left: 4px;
}

.optionIcon:hover,
.optionIcon:focus,
.basicServiceItem:hover,
.basicServiceItem:focus{
  cursor: pointer;
}
